* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Roboto, Helvetica, "Helvetica Neue", "San Francisco";
}
body {
    height: 100vh;
}

:root {
    --iq-title-text: #3f414d;
    --iq-body-text: #b1b4b0;
    --iq-body-bg: #fbfbfb;
    --iq-primary: #1e3d73;
    --iq-secondary: #a09e9e;
    --iq-success: #65f9b3;
    --iq-warning: #ffbf43;
    --iq-danger: #fe517e;
    --iq-info: #9267ff;
    --iq-dark: #3f414d;
    --iq-light: #fafafb;
    --iq-white: #ffffff;
    --iq-black: #000000;
    --iq-light-primary: #e7ecee;
    --iq-light-secondary: #f1f2f1;
    --iq-light-success: #ecfff6;
    --iq-light-danger: #ffeeee;
    --iq-light-warning: #fefaee;
    --iq-light-info: #f4f0ff;
    --iq-light-dark: #f0efef;
    --iq-primary-hover: #1d335a;
    --iq-secondary-hover: #3948e8;
    --iq-success-hover: #8defc0;
    --iq-danger-hover: #ff6a6a;
    --iq-warning-hover: #fae837;
    --iq-info-hover: #fff1e0;
    --iq-dark-hover: #3948e8;
    --iq-border-light: #f1f1f1;
    --iq-light-card: #ffffff;
    --iq-primary-rgb: 100, 114, 248;
    --iq-color1: #1e3d73;
    --iq-color2: #02d871;
    --iq-color3: #309cf3;
    --iq-color4: #ff00ff;
    --iq-color5: #fb1f4c;
    --iq-color6: #00ced1;
    --iq-color7: #f35f3b;
    --iq-color8: #fde117;
    --iq-color9: #ff0000;
    --iq-color10: #88028c;
    --iq-color11: #00d5ab;
    --iq-color12: #ce9252;
    --iq-color13: #f9ae02;
    --iq-color14: #1e7fe4;
    --iq-color15: #006400;
    --iq-color16: #fa7c04;
    --iq-color17: #81bf02;
    --iq-color18: #99a7ca;
    --iq-color19: #3d2a26;
    --iq-color20: #a0746b;
}
/*:root {*/
/*    --blue: #007bff;*/
/*    --indigo: #6610f2;*/
/*    --purple: #6f42c1;*/
/*    --pink: #e83e8c;*/
/*    --red: #dc3545;*/
/*    --orange: #fd7e14;*/
/*    --yellow: #ffc107;*/
/*    --green: #28a745;*/
/*    --teal: #20c997;*/
/*    --cyan: #17a2b8;*/
/*    --white: #fff;*/
/*    --gray: #6c757d;*/
/*    --gray-dark: #343a40;*/
/*    --primary: #007bff;*/
/*    --secondary: #6c757d;*/
/*    --success: #28a745;*/
/*    --info: #17a2b8;*/
/*    --warning: #ffc107;*/
/*    --danger: #dc3545;*/
/*    --light: #f8f9fa;*/
/*    --dark: #343a40;*/
/*    --breakpoint-xs: 0;*/
/*    --breakpoint-sm: 576px;*/
/*    --breakpoint-md: 768px;*/
/*    --breakpoint-lg: 992px;*/
/*    --breakpoint-xl: 1200px;*/
/*}*/

.iq-sidebar {
    z-index: 1000;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: #f8fafd;
    position: fixed;
}

.iq-sidebar .iq-sidebar-logo img {
    padding: 10px;
    width: 100px;
    height: 100px;
    float: right;
    position: absolute;
    left: 30%;
}

.add-wallet {
    position: absolute;
    box-sizing: border-box;
    width: 256px;
    height: 100px;
    top: 10%;
    left: 12%;
    padding: 8px 16px 16px;

}
.add-wallet-btn {
    background-color: #fff;
    width: 150px;
    height: 50px;
    box-shadow: 2px 2px 10px #808080;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
}
.add-wallet-btn:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.add-effect {
    text-decoration: none;
    color: black;
}

.sidebar-menu {
    position: absolute;
    top: 18%;
}

.menu-btn {
    border: none;
    background: #f8fafd ;
    outline: none;
    margin: 10px;
    width: 240px;
    height: 40px;
    font-size: 14px;
    text-align: left;
    padding-left: 25px;
}

.menu-btn:hover {
    border: none;
    border-radius: 15px;
    background-color: #efefef;
    box-shadow: 2px 2px 10px #808080;
    cursor: pointer;
    opacity: 100%;
}

.overview {
    position: fixed;
    left: 260px;
    width: calc(100% - 260px);
    height: 100%;
    background-color: #efefef;
}
.overview .header-info {
    width: 100%;
    height: 5%;
    background: white;
    position: relative;
}
.user {
    width: 160px;
    height: 100%;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview .total-balance {
    height: 10%;
    width: 40%;
    left: 30px;
    background: linear-gradient(to right,#cdf9f6, #b1baea);
    box-shadow: 2px 2px 10px #808080;
    border-radius: 25px;
    position: absolute;
    margin-top: 20px;
}

.total-value {
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 50%;
    transform : translateX(-50%);
    top: 15%;
}
.balance-note {
    position: absolute;
    top: 45%;
    left: 50%;
    transform : translateX(-50%);
    padding: 10px;
}

.eye {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 30px;
}

.eye:hover {
    cursor: pointer;
}
.eyeslash {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 30px;
}
.my-wallet {
    height: 10%;
    width: calc(60% - 80px);
    float: right;
    background: linear-gradient(to right,#cdf9f6, #b1baea);
    box-shadow: 2px 2px 10px #808080;
    border-radius: 25px;
    margin: 20px;
}
